# 변수(Variable)

In [4]:
milk=100
print(milk)

100

In [5]:
milk=200
print(milk)

200

In [10]:
count =10

In [11]:
count = count + 1
print(count)

11

In [12]:
A=1
a=2
print(A)
print(a)

1
2

In [13]:
print(a,1)

2 1

In [16]:
a, b = 3, 4
print(a)
print(b)

3
4

In [17]:
가격=1000
print(가격)

1000

In [18]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

# 자료형 (Data Type)

In [19]:
type(x)

str

In [20]:
type(a)

int

In [21]:
type(3.5)

float

In [23]:
type('abc')

str

In [24]:
type(1)

int

In [25]:
type('1')

str

In [26]:
type(1.0)

float

In [27]:
a=10

In [28]:
type(a)

int

In [30]:
3e9

3000000000.0

In [32]:
1e-1

0.1

In [36]:
3e-4

0.0003

In [38]:
a = '''
안녕하세요
오늘은
2번째 
이론 수업이네요

'''

In [39]:
print(a)

안녕하세요
오늘은
2번째
이론 수업이네요

In [40]:
b="""
네 
그렇군요

"""

In [41]:
print(b)

네
그렇군요

# 주석 (Comment)

In [44]:
print('이것은 주석 예제입니다.') #print('이건 실행 안 됩니다.')

이것은 주석 예제입니다.

In [43]:
'''
print(10)
print('a')

'''
print(100)

100

In [45]:
"""
print(10)
print('a')
"""
print(100)

100

# 출력문

In [46]:
print('재미있는 수업')

재미있는 수업

In [51]:
age = 20

In [52]:
print('저는',age,'살 입니다.')

저는 20 살 입니다.

In [56]:
print('4차'+'산업혁명')

4차산업혁명

In [55]:
print('사랑해 '*10)

사랑해 사랑해 사랑해 사랑해 사랑해 사랑해 사랑해 사랑해 사랑해 사랑해

# 입력문

In [57]:
input()

3

'3'

In [58]:
나이 = input('나이를 입력해주세요')

나이를 입력해주세요20

In [65]:
print('당신의 나이는',나이, '살입니다')

당신의 나이는 20 살입니다

In [66]:
type(나이)

str

In [67]:
나이 + 3

TypeError: must be str, not int

# 형변환

In [76]:
age = input('how old are you? ')

how old are you? 20

In [80]:
print(age)

20

In [81]:
type(age)

str

In [82]:
age = int(age)

In [83]:
type(age)

int

In [84]:
age + 10

30

In [85]:
age_str = str(age)

In [87]:
age_str

'20'

In [86]:
type(age_str)

str

In [88]:
f = '2.12'

In [89]:
f2 = float(f)